<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Análise de Solicitações - Estoque Fácil</title>

    <link rel="stylesheet" href="/static/css/analise-gerente.css" th:href="@{/css/analise-gerente.css}"/>
</head>
<body>

<div id="painel">
    <h1 id="titulo1" >Estoque Fácil</h1>
    <span class="subtitle">Painel Administrativo</span>
    <a th:href="@{/dashboard-gerente}" class="menu-btn">
        Dashboard
    </a>

    <a th:href="@{/analise-gerente}" class="menu-btn ">
        Análise Gerente
    </a>

    <a th:href="@{/cadastro-funcionario}" class="menu-btn">
        Cadastrar Funcionário
    </a>

    <a th:href="@{/relatorio-financeiro}" class="menu-btn">
        Relatório Financeiro
    </a>
    <a th:href="@{/cadastrar-fornecedor}" class="menu-btn">Fornecedores</a>
</div>

<header>
    <div>
        <h1 id="historico">Análise de Solicitações</h1>
        <p>Gerencie requisições e consulte o histórico de aprovações do setor</p>
    </div>
</header>

<section>
    <div class="area-filtros">
        <input type="text" class="input-filtro" placeholder="Buscar por código, produto ou solicitante...">
        <select class="select-filtro">
            <option value="">Todos os Setores</option>
            <option>Almoxarifado</option>
            <option>Gerência</option>
            <option>Financeiro</option>

        </select>
        <select class="select-filtro">
            <option value="">Qualquer Status</option>
            <option value="pendente">Pendente</option>
            <option value="aprovado">Aprovado</option>
            <option value="desaprovado">Desaprovado</option>
        </select>
        <button class="btn-filtrar">Filtrar</button>
    </div>

    <div class="topo-tabela">
        <h2>Solicitações Pendentes</h2>
    </div>

    <table style="margin-bottom: 40px;">
        <thead>
        <tr>
            <th>Código</th>
            <th>Solicitante</th>
            <th>Setor</th>
            <th>Produto</th>
            <th>Descrição</th>
            <th>Data</th>
            <th>Qtd</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody id="corpo-pendentes">
        <tr class="linha-tabela" th:each="req : ${pendentes}">

            <td th:text="${req.idRequisicao}"></td>

            <td th:text="${req.funcionario.nome}"></td>

            <td th:text="${req.setor.nomeSetor}"></td>

            <td th:text="${#lists.size(req.produtos) > 0 ? req.produtos[0].produto.nome : ''}"></td>

            <td>
                <span class="descricao" th:text="${req.motivo}"></span>
            </td>

            <td th:text="${#temporals.format(req.dataRequisicao, 'dd/MM/yyyy')}"></td>

            <td th:text="${#lists.size(req.produtos) > 0 ? req.produtos[0].quantidadeSolicitada : 0}"></td>

            <td>
                <span class="status-pendente">Pendente</span>
            </td>
            <td>
                <a th:href="@{'/requisicao/aprovar/' + ${req.idRequisicao}}"
                   class="btn-acao btn-aprovar">
                    Aprovar
                </a>
                <br>
                <br>

                <a th:href="@{'/requisicao/rejeitar/' + ${req.idRequisicao}}"
                   class="btn-acao btn-rejeitar">
                    Rejeitar
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="topo-tabela">
        <h2>Conclusão das Solicitações</h2>
    </div>

    <table>
        <thead>
        <tr>
            <th>Código</th>
            <th>Solicitante</th>
            <th>Setor</th>
            <th>Produto</th>
            <th>Descrição</th>
            <th>Data</th>
            <th>Qtd</th>
            <th>Status Final</th>
        </tr>
        </thead>

        <tbody id="corpo-historico">
        <tr class="linha-tabela" th:each="req : ${historico}">

            <td th:text="${req.idRequisicao}"></td>

            <td th:text="${req.funcionario.nome}"></td>

            <td th:text="${req.setor.nomeSetor}"></td>

            <td th:text="${#lists.size(req.produtos) > 0 ? req.produtos[0].produto.nome : ''}"></td>

            <td>
                <span class="descricao" th:text="${req.motivo}"></span>
            </td>

            <td th:text="${#temporals.format(req.dataRequisicao, 'dd/MM/yyyy')}"></td>

            <td th:text="${#lists.size(req.produtos) > 0 ? req.produtos[0].quantidadeSolicitada : 0}"></td>

            <td>
        <span th:classappend="
            ${req.status == T(com.EstoqueFacil.EstoqueFacil.model.Status).APROVADO} ? 'status-aprovado' :
            (${req.status == T(com.EstoqueFacil.EstoqueFacil.model.Status).NEGADO} ? 'status-desaprovado' : 'status-pendente')"
              th:text="${req.status}">
        </span>
            </td>

        </tr>
        </tbody>
    </table>

</section>
</body>
</html>