<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fornecedores - Estoque Fácil</title>
    <link rel="stylesheet" href="/static/css/cadastrar-fornecedor.css" th:href="@{/css/cadastrar-fornecedor.css}"/>

</head>

<body>


<div id="painel">
    <h1 id="titulo1">Estoque Fácil</h1>
    <span class="subtitle">Painel Administrativo</span>

    <a th:href="@{/dashboard-gerente}" class="menu-btn">Dashboard</a>
    <a th:href="@{/analise-gerente}" class="menu-btn">Análise Gerente</a>
    <a th:href="@{/cadastro-funcionario}" class="menu-btn">Cadastrar Funcionário</a>
    <a th:href="@{/relatorio-financeiro}" class="menu-btn">Relatório Financeiro</a>
    <a th:href="@{/cadastrar-fornecedor}" class="menu-btn">Fornecedores</a>
</div>


<header>
    <h1 id="titulo-header">Gestão de Fornecedores</h1>
</header>


<section>

    <div class="grid">


        <div class="box">
            <h2>Cadastrar Fornecedor</h2>

            <form method="post" th:action="@{/cadastrar/fornecimento}">

                <label>Nome:</label>
                <input type="text" name="nome" required>

                <label>CNPJ:</label>
                <input type="text" name="cnpj" required>

                <label>Telefone:</label>
                <input type="text" name="telefone">

                <label>Email:</label>
                <input type="email" name="email">

                <div class="form-grid">

                    <div class="form-group full-width">
                        <label for="endereco_rua">Rua</label>
                        <input type="text" id="endereco_rua" name="rua" required>
                    </div>

                    <div class="form-group">
                        <label for="bairro">Bairro</label>
                        <input type="text" id="bairro" name="bairro" required>
                    </div>

                    <div class="form-group">
                        <label for="cidade">Cidade</label>
                        <input type="text" id="cidade" name="cidade" required>
                    </div>
                    <div class="form-group">
                        <label for="estado">Estado (UF)</label>
                        <select id="estado" name="estado" required>
                            <option value="" disabled selected>Selecione o estado...</option>

                            <option value="AC">AC</option>
                            <option value="AL">AL</option>
                            <option value="AP">AP</option>
                            <option value="AM">AM</option>
                            <option value="BA">BA</option>
                            <option value="CE">CE</option>
                            <option value="DF">DF</option>
                            <option value="ES">ES</option>
                            <option value="GO">GO</option>
                            <option value="MA">MA</option>
                            <option value="MT">MT</option>
                            <option value="MS">MS</option>
                            <option value="MG">MG</option>
                            <option value="PA">PA</option>
                            <option value="PB">PB</option>
                            <option value="PR">PR</option>
                            <option value="PE">PE</option>
                            <option value="PI">PI</option>
                            <option value="RJ">RJ</option>
                            <option value="RN">RN</option>
                            <option value="RS">RS</option>
                            <option value="RO">RO</option>
                            <option value="RR">RR</option>
                            <option value="SC">SC</option>
                            <option value="SP">SP</option>
                            <option value="SE">SE</option>
                            <option value="TO">TO</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="cep">CEP</label>
                        <input type="text" id="cep" name="cep" required>
                    </div>

                </div>

                <button type="submit">Salvar Fornecedor</button>
            </form>
        </div>


        <div class="box">
            <h2>Fornecedores Cadastrados</h2>

            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CNPJ</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="f : ${fornecedores}">
                    <td th:text="${f.idFornecedor}"></td>
                    <td th:text="${f.razaoSocial}"></td>
                    <td th:text="${f.cnpj}"></td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>

</section>

</body>
</html>

