<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

   <link rel="stylesheet" href="/static/css/dashboard.css"/>
</head>

<body>

<div id="painel">
    <h1 id="titulo1">Estoque Fácil</h1>
    <span class="subtitle">Painel Administrativo</span>

    <a th:href="@{/dashboard-gerente}" class="menu-btn ">
        Dashboard de gerenciamento
    </a>


    <a th:href="@{/analise-gerente}" class="menu-btn">
        Análise Gerente
    </a>

    <a th:href="@{/cadastro-funcionario}" class="menu-btn">
        Cadastrar Funcionário
    </a>

    <a th:href="@{/relatorio-financeiro}" class="menu-btn">
        Relatório Financeiro
    </a>
    <a th:href="@{/cadastrar-fornecedor}" class="menu-btn">Fornecedores</a>
</div>

<header>
    <div>
        <h1 id="titulo-header">Dashboard</h1>
    </div>
</header>

<section>

    <div class="cards">

        <div class="card">
            <h3>Produtos</h3>
            <span th:text="${totalProdutos}">152</span>
        </div>

        <div class="card">
            <h3>Funcionários</h3>
            <span th:text="${totalFuncionarios}">18</span>
        </div>

        <div class="card">
            <h3>Requisições</h3>
            <span th:text="${totalRequisicoes}">27</span>
        </div>

        <div class="card">
            <h3>Estoque Baixo</h3>
            <span th:text="${estoqueBaixo}">5</span>
        </div>

    </div>

    <div class="atividade-recente">

        <h2>Atividades Recentes</h2>

        <ul>
            <li th:each="a : ${atividades}" th:text="${a}"></li>
        </ul>

    </div>

</section>

</body>
</html>

