<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Relatório Financeiro</title>
</head>
<body>
    <div id="painel">
        <h1>Estoque Fácil</h1><span>Financeiro</span>
        <button class="menu-btn active">Relatório de Custos</button>
    </div>
    <main>
        <header><h1>Visão Geral de Custos</h1></header>
        <section>
            <table>
                <thead><tr><th>Data</th><th>Produto</th><th>Custo Total</th></tr></thead>
                <tbody>
                    <tr><td>10/05/2026</td><td>Teclado Logitech</td><td>R$ 3.500,00</td></tr>
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>