<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
		<meta charset="UTF-8">
		<title>Relatório Financeiro - Estoque Fácil</title>
	    <link rel="stylesheet" th:href="@{/css/relatorio-financeiro.css}"/>
</head>
<body>
	<div id="painel">
		<h1 id="titulo1">Estoque Fácil</h1>
		<span class="subtitle">Painel Financeiro</span>
		<a th:href="@{/dashboard-gerente}" class="menu-btn">
			Dashboard
		</a>

		<a th:href="@{/analise-gerente}" class="menu-btn">
			Análise Gerente
		</a>

		<a th:href="@{/cadastro-funcionario}" class="menu-btn">
			Cadastrar Funcionário
		</a>

		<a th:href="@{/relatorio-financeiro}" class="menu-btn ">
			Relatório Financeiro
		</a>
		<a th:href="@{/cadastrar-fornecedor}" class="menu-btn">Fornecedores</a>
	</div>

	<header>
		<div>
			<h1 id="historico">Relatório Financeiro</h1>

		</div>
	</header>

	<section>
		<div class="filtros">
			<input id="periodoInicio" type="date" class="input-filtro">
			<input id="periodoFim" type="date" class="input-filtro">
			<select id="tipo" class="select-filtro">
				<option value="">Todos os tipos</option>
				<option value="entrada">Entrada (Compras)</option>
				<option value="saida">Saída (Uso/Venda)</option>
			</select>
			<button class="btn-acao" onclick="aplicarFiltro()">Aplicar</button>
		</div>

		<div class="grid">
			<div class="card">
				<div>Total Entradas</div>
				<div class="valor-grande" id="totalEntradas">R$ 0,00</div>
			</div>
			<div class="card">
				<div>Total Saídas</div>
				<div class="valor-grande" id="totalSaidas">R$ 0,00</div>
			</div>

		</div>

		<div>
			<a th:href="@{/relatorio/pdf}" class="btn-acao">
				Baixar PDF
			</a>
		</div>

		<div class="card" style="margin-bottom:18px">
			<h3>Lançamentos</h3>
			<table>
				<thead>
					<tr><th>Data</th><th>Tipo</th><th>Descrição</th><th>Valor (R$)</th></tr>
				</thead>
				<tbody>

				<tr th:each="r : ${relatorios}">

					<td th:text="${r.dataEmissao}"></td>

					<td th:text="${r.descricao}"></td>

					<td th:text="${r.valorTotalEntrada}"></td>

					<td th:text="${r.valorTotalSaida}"></td>

				</tr>
				</tbody>

			</table>

		</div>

		<div class="card">
			<h3>Resumo por Categoria</h3>
			<div id="resumoCat">
			</div>
		</div>
	</section>

	<script>
		function aplicarFiltro() {
			const trs = document.querySelectorAll('tbody tr');

			let totalE = 0;
			let totalS = 0;

			trs.forEach(tr => {

				const entrada = parseFloat(tr.children[2].innerText.replace(',', '.')) || 0;
				const saida = parseFloat(tr.children[3].innerText.replace(',', '.')) || 0;

				totalE += entrada;
				totalS += saida;
			});

			document.getElementById('totalEntradas').innerText =
					'R$ ' + totalE.toFixed(2).replace('.', ',');

			document.getElementById('totalSaidas').innerText =
					'R$ ' + totalS.toFixed(2).replace('.', ',');

		}
	</script>
</body>
</html>



