
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login - Estoque Fácil</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
    <div class="planoFundo">
        <section class="conteiner" id="header">

            <div th:if="${erro}" class="mensagem-erro">
                <span th:text="${erro}"></span>
            </div>

            <form th:action="@{/login}" method="post">

                <h1 class="h1">Login</h1>
                <h2 id="EstoqueFacil">Estoque Fácil</h2>

                <p class="login">Faça o login para continuar</p>

                <p th:if="${erro}" th:text="${erro}" style="color:red;"></p>

                <label>CPF:</label>
                <input type="text"
                       name="cpf"
                       placeholder="000.000.000-00"
                       maxlength="14"
                       required>

                <div class="form-group">
                    <label for="senha">Senha</label>
                    <!-- Container criado para isolar o posicionamento do olho -->
                    <div class="senha-container">
                        <input type="password" id="senha" name="senha" placeholder="Digite sua senha">
                        <span id="toggleSenha" class="olho-btn">👁️</span>
                    </div>
                </div>
                <div class="botoes">
                    <button type="submit" class="btn-entrar">Entrar</button>
                </div>

                <p style="margin-top: 15px;">
                    <a th:href="@{/recuperar-senha}">Esqueceu sua senha?</a>
                </p>

            </form>
        </section>
    </div>

    <script>
        const senhaInput = document.getElementById('senha');
        const toggleSenha = document.getElementById('toggleSenha');

        toggleSenha.addEventListener('click', function() {
            // Altera o tipo entre password e text
            if (senhaInput.type === 'password') {
                senhaInput.type = 'text';
                toggleSenha.textContent = '🙈'; // Muda o ícone
            } else {
                senhaInput.type = 'password';
                toggleSenha.textContent = '👁️'; // Volta ao ícone original
            }
        });
    </script>

</body>
</html>

