
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login - Estoque Fácil</title>
    <link rel="stylesheet" href="/static/css/login.css"/>
</head>
<body>
    <div class="planoFundo">
        <section class="conteiner" id="header">
            <form th:action="@{/login}" method="post">

                <h1 class="h1">Login</h1>
                <h2 id="EstoqueFacil">Estoque Fácil</h2>

                <p class="login">Faça o login para continuar</p>

                <p th:if="${erro}" th:text="${erro}" style="color:red;"></p>

                <label>CPF:</label>
                <input type="text"
                       name="cpf"
                       placeholder="000.000.000-00"
                       maxlength="14"
                       required>

                <label>Senha:</label>
                <input type="password" name="senha" required>

                <div class="botoes">
                    <button type="submit" class="btn-entrar">Entrar</button>
                </div>

            </form>
        </section>
    </div>
</body>
</html>

