<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Funcionário</title>

    <link rel="stylesheet" href="/static/css/dashboard.css" th:href="@{/css/dashboard.css}"/>

</head>

<body>

<div id="painel">

    <h1 id="titulo1">Estoque Fácil</h1>
    <span class="subtitle">Painel Financeiro</span>

    <a th:href="@{/dashboard-funcionario}" class="menu-btn">
        Dashboard financeiro
    </a>

    <a th:href="@{/requisicoes}" class="menu-btn">
        Pedir uma nova Requisição
    </a>

    <a th:href="@{/historico-requisicoes}" class="menu-btn">
        Histórico de requisições
    </a>

    <a th:href="@{/minhas-solicitacoes}" class="menu-btn">
        Minhas Solicitações
    </a>
    <form th:action="@{/logout}" method="post" class="logout-form">
        <button type="submit" class="menu-btn logout-btn">
            Sair
        </button>
    </form>

</div>

<header>
    <h1 id="titulo-header">Dashboard Funcionário</h1>
</header>

<section>


    <div class="cards">

        <div class="card">
            <h3>Requisições Realizadas</h3>
            <span th:text="${total}">0</span>
        </div>

        <div class="card">
            <h3>Pendentes</h3>
            <span th:text="${pendentes}">0</span>
        </div>

        <div class="card">
            <h3>Aprovadas</h3>
            <span th:text="${aprovadas}">0</span>
        </div>

        <div class="card">
            <h3>Recusadas</h3>
            <span th:text="${recusadas}">0</span>
        </div>

    </div>

    <div class="tabela-box">

        <h2>Últimas Solicitações</h2>

        <table>

            <thead>
            <tr>
                <th>ID</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Status</th>
                <th>Data</th>
            </tr>
            </thead>

            <tbody>

            <tr th:each="r : ${ultimas}">

                <td th:text="${r.idRequisicao}"></td>

                <td>
    <span th:if="${#lists.size(r.produtos) > 0}"
          th:text="${r.produtos[0].produto.nome}">
    </span>
                </td>

                <td>
        <span th:if="${#lists.size(r.produtos) > 0}"
              th:text="${r.produtos[0].quantidadeSolicitada}">
        </span>
                </td>

                <td>
        <span th:text="${r.status}"
               th:class="${r.status == T(com.EstoqueFacil.EstoqueFacil.model.Status).APROVADO ? 'status-aprovada' :
                 r.status == T(com.EstoqueFacil.EstoqueFacil.model.Status).PENDENTE ? 'status-pendente' :
                 'status-recusada'}">
</span>
                </td>
                <td th:text="${r.dataRequisicao}"></td>
            </tr>
            </tbody>

        </table>

    </div>

</section>

</body>
</html>

