<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Minhas Solicitações - Estoque Fácil</title>
    <link rel="stylesheet" href="/static/css/historico-requisicoes.css" th:href="@{/css/historico-requisicoes.css}"/>
</head>
<body>
  <div id="painel">
    <h1 id="titulo1">Estoque Fácil</h1>
    <span class="subtitle">Área do Financeiro</span>
      <a th:href="@{/dashboard-funcionario}" class="menu-btn">
          Dashboard do Financeiro
      </a>
      <a th:href="@{/requisicoes}" class="menu-btn">
          Pedir uma nova Requisição
      </a>
      <a th:href="@{/historico-requisicoes}" class="menu-btn">
          Histórico de requisições
      </a>
      <a th:href="@{/minhas-solicitacoes}" class="menu-btn">
          Minhas Solicitações
      </a>
  </div>
  <header>
      <div>
          <h1 id="titulo-header">Historico de Requisições</h1>
      </div>
  </header>
  <section>
      <table>
          <thead>
          <tr>
              <th>Código</th>
              <th>Produto</th>
              <th>Data da Solicitação</th>
              <th>Quantidade</th>
              <th>Status</th>
          </tr>
          </thead>
          <tbody id="tbody-requisicoes">

          </tbody>
      </table>
  </section>

<script>document.addEventListener("DOMContentLoaded", async () => {

    const response = await fetch("/requisicao/minhas");
    const requisicoes = await response.json();

    const tbody = document.getElementById("tbody-requisicoes");

    tbody.innerHTML = "";

    requisicoes.forEach(req => {

        let statusClass = "";

        if (req.status === "PENDENTE") statusClass = "status-pendente";
        if (req.status === "APROVADO") statusClass = "status-aprovado";
        if (req.status === "NEGADO") statusClass = "status-desaprovado";


        const produtoNome = req.produtos?.[0]?.produto?.nome || "N/A";
        const quantidade = req.produtos?.[0]?.quantidadeSolicitada || 0;

        const row = `
    <tr>
        <td>REQ-${req.idRequisicao}</td>
        <td>${produtoNome}</td>
        <td>${req.dataRequisicao}</td>
        <td>${quantidade}</td>
        <td><span class="${statusClass}">${req.status}</span></td>
    </tr>
`;

        tbody.innerHTML += row;});
});
</script>
</body>
</html>

