<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Almoxarife</title>

    <link rel="stylesheet" href="/static/css/dashboard.css" th:href="@{/css/dashboard.css}"/>


</head>
<body>

<div id="painel">

    <h1 id="titulo1">Estoque Fácil</h1>

    <span class="subtitle">
        Painel do Almoxarife
    </span>
    <a th:href="@{/dashboard-almoxarife}" class="menu-btn">Dashboard do almoxarifado</a>

    <a th:href="@{/controle-estoque}" class="menu-btn">Controle de Estoque</a>

    <a th:href="@{/entrada-materiais}" class="menu-btn">Entrada de Materiais</a>

    <a th:href="@{/saidas-materiais}" class="menu-btn">Saída de Materiais</a>

    <a th:href="@{/inventario}" class="menu-btn">Inventário do almoxarifado</a>

    <a th:href="@{/cadastrar-produto}" class="menu-btn">
        Cadastrar um Produto
    </a>
    <form th:action="@{/logout}" method="post" class="logout-form">
        <button type="submit" class="menu-btn logout-btn">
            Sair
        </button>
    </form>
</div>

<header>
    <h1 id="titulo-header">Dashboard do Almoxarife</h1>
</header>

<section>

    <div class="cards">

        <div class="card">
            <h3>Total de Produtos</h3>

        </div>

        <div class="card">
            <h3>Entradas Hoje</h3>

        </div>

        <div class="card">
            <h3>Saídas Hoje</h3>

        </div>

        <div class="card">
            <h3>Itens em Falta</h3>

        </div>

    </div>

    <div class="tabela-box">

        <h2>Últimas Movimentações</h2>

        <table>

            <thead>
            <tr>
                <th>Produto</th>
                <th>Descrição</th>
                <th>Movimentação</th>
                <th>Quantidade</th>
                <th>Data</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="m : ${movimentacoes}">
                <td th:text="${m.produto.nome}"></td>
                <td th:text="${m.descricao}"></td>

                <td>
                    <span th:text="${m.status}"></span>
                </td>

                <td th:text="${m.quantidade}"></td>

                <td th:text="${#temporals.format(m.dataMovimentacao, 'dd/MM/yyyy')}"></td>

            </tr>
            </tbody>

        </table>

    </div>

</section>

</body>
</html>

