<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Entrada de Materiais - Estoque Fácil</title>
    <link rel="stylesheet" href="/static/css/entrada-materiais.css"/>
</head>
<body>
  <div id="painel">
    <h1 id="titulo1">Estoque Fácil</h1>
    <span class="subtitle">Almoxarifado</span>
      <a th:href="@{/dashboard-almoxarife}" class="menu-btn">Dashboard do almoxarifado</a>

      <a th:href="@{/controle-estoque}" class="menu-btn">Controle de Estoque</a>

      <a th:href="@{/entrada-materiais}" class="menu-btn">Entrada de Materiais</a>

      <a th:href="@{/saidas-materiais}" class="menu-btn">Saída de Materiais</a>

      <a th:href="@{/inventario}" class="menu-btn">Inventário do almoxarifado</a>
      <a th:href="@{/cadastrar-produto}" class="menu-btn">
          Cadastrar um Produto
      </a>
  </div>
  <header>
      <div>
          <h1 id="titulo-header">Registro de Entrada</h1>
      </div>
  </header>
  <section>
      <form th:action="@{/entrada}" method="post">

          <div class="form-grid">

              <div class="form-group full-width">
                  <label>Lote</label>
                  <select name="loteId" required>
                      <option value="" disabled selected>Selecione o lote...</option>

                      <option th:each="lote : ${lotes}"
                              th:value="${lote.idLote}"
                              th:text="${lote.codigo}">
                      </option>

                  </select>
              </div>

              <div class="form-group">
                  <label>Quantidade</label>
                  <input type="number" name="quantidade" min="1" required>
              </div>

              <div class="form-group">
                  <label>Data da Movimentação</label>
                  <input type="date" name="dataMovimentacao" required>
              </div>

              <div class="form-group full-width">
                  <label>Descrição</label>
                  <input type="text" name="descricao" required>
              </div>

          </div>

          <div class="botoes-acao">
              <button type="reset" class="btn-cancelar">Cancelar</button>
              <button type="submit" class="btn-salvar">Confirmar Entrada</button>
          </div>

      </form>
  </section>
</body>
</html>

