<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Inventário</title>

    <link rel="stylesheet" href="/static/css/inventario.css" th:href="@{/css/inventario.css}" />
</head>

<body>

<div id="painel">

    <h1 id="titulo1">Estoque Fácil</h1>
    <span class="subtitle">Painel Almoxarife</span>

    <a th:href="@{/dashboard-almoxarife}" class="menu-btn">Dashboard do almoxarifado</a>

    <a th:href="@{/controle-estoque}" class="menu-btn">Controle de Estoque</a>

    <a th:href="@{/entrada-materiais}" class="menu-btn">Entrada de Materiais</a>

    <a th:href="@{/saidas-materiais}" class="menu-btn">Saída de Materiais</a>

    <a th:href="@{/inventario}" class="menu-btn">Inventário do almoxarifado</a>
    <a th:href="@{/cadastrar-produto}" class="menu-btn">
        Cadastrar um Produto
    </a>
</div>

<header>
    <h1 id="titulo-header">Inventário</h1>
</header>

<section>

    <div class="filtros">

        <input type="text" placeholder="Pesquisar produto">

        <select>
            <option>Todas Categorias</option>
        </select>

        <select>
            <option>Todos Fornecedores</option>
        </select>

    </div>

    <div class="tabela-box">

        <table>

            <thead>
            <tr>
                <th>Código</th>
                <th>Produto</th>
                <th>Categoria</th>
                <th>Quantidade</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p : ${produtos}">

                <td th:text="${p.idProduto}"></td>

                <td th:text="${p.nomeProduto}"></td>

                <td th:text="${p.classificacao}"></td>

                <td>
        <span style="color:#999;">
            (sem controle de estoque ainda)
        </span>
                </td>

                <td>
                    <span>Indefinido</span>
                </td>

            </tr>
            </tbody>
        </table>

    </div>

</section>

</body>
</html>

