<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Saída de Materiais</title>
    <link rel="stylesheet" href="/static/css/saidas-materiais.css" th:href="@{/css/saidas-materiais.css}"/>
</head>

<body>

<div id="painel">

    <h1 id="titulo1">Estoque Fácil</h1>
    <span class="subtitle">Painel Almoxarife</span>

    <a th:href="@{/dashboard-almoxarife}" class="menu-btn">Dashboard do almoxarifado</a>

    <a th:href="@{/controle-estoque}" class="menu-btn">Controle de Estoque</a>

    <a th:href="@{/entrada-materiais}" class="menu-btn">Entrada de Materiais</a>

    <a th:href="@{/saidas-materiais}" class="menu-btn">Saída de Materiais</a>

    <a th:href="@{/inventario}" class="menu-btn">Inventário do almoxarifado</a>
    <a th:href="@{/cadastrar-produto}" class="menu-btn">
        Cadastrar um Produto
    </a>
</div>

<header>
    <h1 id="titulo-header">Saída de Materiais</h1>
</header>

<section>

    <form th:action="@{/saidas-materiais}" method="post">

        <div class="form-grid">

            <div class="form-group">
                <label>Produto</label>
                <select name="loteId" required>
                    <option value="" disabled selected>Selecione...</option>

                    <option th:each="l : ${lotes}"
                            th:value="${l.idLote}"
                            th:text="${l.produto != null ? l.produto.nome + ' (Lote ' + l.numeroLote + ' - Estoque: ' + l.quantidade + ')' : 'Lote ' + l.numeroLote}">
                    </option>
                </select>
                <p th:if="${#lists.isEmpty(lotes)}">Nenhum lote disponível para saída no momento.</p>
            </div>

            <div class="form-group">
                <label>Quantidade</label>
                <input type="number" name="quantidade" required>
            </div>

            <div class="form-group">
                <label>Solicitante</label>
                <input type="text" name="solicitante" required>
            </div>

            <div class="form-group">
                <label>Setor</label>
                <input type="text" name="setor" required>
            </div>

            <div class="form-group full-width">
                <label>Observações</label>
                <textarea name="observacoes"></textarea>
            </div>

        </div>

        <div class="botoes-acao">
            <button type="submit" class="btn-salvar">Registrar Saída</button>
        </div>

    </form>

</section>

</body>
</html>

